body{
	font-family: lato , sans-serif;
	margin: 70px 0px ;
	
	
}
.divider{
    width:100px ;
	height: 2px;
	background: #ff5666;
	margin: 0 auto;
}
.heading{
	text-align: center;
	margin-bottom: 60px;

}
.h2{
	text-transform: uppercase;
	font-weight: bold;
	color: white;
}
#contacte_form{
	font-size: 20px;
	background: white;
	padding: 40px;
	border-radius: 10px;
}
.blue{
	color: #036;
}
.form-control{
	height: 50px;
	font-size: 18px;
}
.comentes{
	font-style: italic;
	font-size: 18px;
	color: red;
	height: 25px;
}
#contacte_form input[type=submit]
{
	margin: 40px auto 0px ;
	display: block;
}
.buton
{
	border: 1px solid #ddd;
	background: #ffa500;
	color: #fff;
	width:100%;
	font-weight: bold;
	text-transform: uppercase;
	padding: 18px;
	border-radius: 5px;
	transition: all 0.3s ease-in 0s;
}
.buton:hover
{
	background: #333;
	border-color: #ffa500;
}
.merci{
	text-align: center;
	margin-top: 15px;
	font-weight: bold;
	font-size: 22px;
}
footer
{
    background:#3dafea;
    padding: 20px 0 40px;
}
footer .glyphicon
{
    font-size:  25px;
    margin: 20px;
    color: #d82c2e;
    height: 30px;
}
footer .glyphicon:hover
{
    font-size:  27px;
}
footer h5
{
    color: #fff;
    font-weight: normal;
}
#about
{
    padding-top: 100px;
    background: #d82c2e;
}
.profile-picture
{
    text-align: center;
    margin: 0 auto;
    float: none;
}
#about .heading h1
{
    color:#fff;
    text-transform: uppercase;
}
#about .heading h3
{
    color:#000;
}
.button1
{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top:  20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}
.button1:hover
{
    background: white;
    color: #d82c2e;
    text-decoration: none;
}